form.form-horizontal(role='form', ng-submit="saveCaso()")
  .row
      .col-xs-4
        h1 View Case      
  .container-fluid
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading 
            h4.panel-title File details
          .panel-body
            .form-group
              .col-sm-3
                label.control-label(for='casoId') Identifier
                .form-control-wrapper
                    input#casoId.form-control(type='text', placeholder='Id', value='{{caso.id}}', disabled='true', size="8")
                    span.material-input
              .col-sm-5
                label.control-label(for='casoUsuario') Usuario
                .form-control-wrapper
                  input#casoUsuario.form-control(type='text', placeholder='User', ng-model='caso.usuario')
                  span.material-input
              .col-sm-4
                label.control-label(for='casoFecha') Date
                .form-control-wrapper
                  input#casoFecha.form-control(type='text', ui-mask='99/99/9999' model-view-value='true', placeholder='dd/mm/yyyy', bs-datefield='DD/MM/YYYY', ng-model='caso.fecha', disabled='true')
                  span.material-input
            .form-group
              .col-sm-4
                label.control-label(for='casoTipo') Type
                .form-control-wrapper
                  input#casoTipo.form-control(type='text', placeholder='Type', ng-model='caso.tipo')
                  span.material-input
              .col-sm-8
                label.control-label(for='casoDescripcion') Description
                .form-control-wrapper
                  input#casoDescripcion.form-control(type='text', placeholder='Description', ng-model='caso.descripcion')
                  span.material-input              
    .row
      .col-xs-6
        a.btn.btn-default(ng-click="back()", role='button')
          span.glyphicon.glyphicon-arrow-left
          |&nbsp;Back to Issue List
      .col-xs-6
        button.btn.btn-primary.pull-right(type='submit') Save
